.links li a {
    color: #0000CC
; 
}
#getstarted a {
    color: white;
}


body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}
.landing-page header {
  min-height: 80px;
  display: flex;
}

  .landing-page header {
    min-height: auto;
    display: initial;
  }

.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page header .logo {
  color: #0000CC
;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}

.landing-page header .links {
  display: flex;
  align-items: center;
}

.landing-page header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}

.landing-page header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #9900CC
;
}
footer {
    background-color: #000066
;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.social-media a {
    color: white;
    padding: 0 10px;
    font-size: 24px; 
}

.social-media a.instagram {
    color: #7B68EE; 
}

.social-media a.github {
    color: #CC0000; 
}

.social-media a:hover {
    opacity: 0.7;
}
.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    text-align: left; 
}

.form-group input {
    width: 50%; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.first-form-group {
    margin-top: 30px;
}

#subject {
    width: 50%; 
    padding: 20px 12px; 
    font-size: 16px; 
    height: 120px; 
    box-sizing: border-box; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
}

button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.content .image img {
display: flex;
            justify-content: center;
            align-items: center;
  max-width: 100%; 
            margin-right: auto;
}
.image img {
 float:right;
}